body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

section {
  margin-top: 30px;
}

.profesores,
.alumnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profesores {
  gap: 20px;
}

.alumnos div {
  flex-basis: 12%;
  margin: 10px;
}

.imagenProfesores,
.alumnos div img {
  width: 100px;
  height: 110px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.profesores div:hover,
.alumnos div:hover {
  transform: scale(2.2);
  background-color: white;
}

.imagenProfesores p {
  font-size: 10px;
  text-align: center;
}
