.decoracion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.decoracion img {
  height: 150px;
  width: 300px;
}

.logos {
  width: 150px;
  height: auto;
}

.logos2 {
  width: 250px !important;
  height: 120px !important;
}

.logos3 {
  width: 150px !important;
  height: 75px !important;
}
