main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  section {
    margin-bottom: 30px;

    div {
      text-align: center;
    }
  }

  .profesores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .alumnos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
