main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 200px;

  section {
    margin-bottom: 30px;
  }

  .alumnos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: 0 55px 55px rgba(0, 0, 0, 0.1);
      width: calc(20% - 20px);
      margin-bottom: 20px;
      box-sizing: border-box;
      transition: box-shadow 0.3s ease;
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }

      p {
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
  .profesores {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    div {
      .imagenProfesores {
        border: solid black;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        overflow: hidden;
        transition: transform 0.3s ease; /* Agregamos una transición para suavizar el efecto */
      }

      .imagenProfesores:hover {
        transform: scale(1.9);
        background-color: white;
      }

      img {
        height: auto;
      }
    }

    .decoracion-lateral {
      width: 50%;
    }
  }
}
