body,
h1,
h2,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: #4285f4;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 2em;
}
header h2 {
  font-size: 1.5em;
}
header img {
  width: 8%;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: #4285f4;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer h2 {
  font-size: 1.2em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
main section {
  margin-bottom: 30px;
}
main .profesores,
main .alumnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .profesores div,
main .alumnos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 55px 55px rgba(0, 0, 0, 0.1);
  width: calc(20% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  text-align: center;
}
main .profesores div img,
main .alumnos div img {
  width: 100%;
  height: auto;
}