body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: rgb(0, 0, 0);
}

section {
  margin-top: 30px;
}

.profesores,
.alumnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profesores {
  gap: 20px;
}

.alumnos div {
  flex-basis: 12%;
  margin: 10px;
}

.imagenProfesores,
.alumnos div img {
  width: 100px;
  height: 110px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.profesores div:hover,
.alumnos div:hover {
  transform: scale(2.2);
  background-color: white;
}

.imagenProfesores p {
  font-size: 10px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .profesores,
  .alumnos {
    flex-direction: column;
    align-items: center;
  }
  .profesores,
  .alumnos div {
    flex-basis: auto;
  }
}
h1,
h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container h3,
section h3 {
  text-align: center;
}

.h1 {
  background-image: url("../../img/cinta-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 27px;
  color: aliceblue;
}

.h3 {
  background-image: url("../../img/cinta-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 24px;
  color: aliceblue;
  width: 50%;
}

.decoracion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.decoracion img {
  height: 150px;
  width: 300px;
}

.logos {
  width: 150px;
  height: auto;
}