@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
body,
h1,
h2,
p,
img {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  background-color: #5b1ea3;
  color: #fff;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -2px 33px 0px rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  top: 0;
}
header h1 {
  font-size: 2em;
}
header h2 {
  font-size: 1.5em;
}
header img {
  width: 8%;
}

body {
  font-family: "Salsa", cursive;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

footer {
  background-color: #5b1ea3;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
footer h2 {
  font-size: 1.2em;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 200px;
}
main section {
  margin-bottom: 30px;
}
main .alumnos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .alumnos div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 55px 55px rgba(0, 0, 0, 0.1);
  width: calc(20% - 20px);
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease;
  text-align: center;
}
main .alumnos div img {
  width: 100%;
  height: auto;
}
main .alumnos div p {
  font-weight: 600;
  font-size: 18px;
}
main .profesores,
main .direccion {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  gap: 10px;
}
main .profesores div .imagenProfesores,
main .direccion div .imagenProfesores {
  border: solid black;
  border-radius: 50%;
  width: 170px;
  height: 200px;
  overflow: hidden;
  transition: transform 0.3s ease;
}
main .profesores div .imagenProfesores:hover,
main .direccion div .imagenProfesores:hover {
  transform: scale(1.9);
  background-color: white;
}
main .profesores div img,
main .direccion div img {
  height: auto;
}
main .profesores .decoracion-lateral,
main .direccion .decoracion-lateral {
  width: 50%;
}
main .promocion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .promocion .adorno2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .promocion div p {
  font-size: 50px;
  font-weight: 300;
  font-style: italic;
  color: rgb(135, 135, 135);
}
main .alumnado,
main .directivo,
main .profesorado {
  font-size: 35px;
  text-align: center;
}
main .alumnado p,
main .directivo p,
main .profesorado p {
  font-weight: 300;
}

* {
  font-family: "Lato", sans-serif;
}